
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  /* style="border-top-style: solid;border-top-width: 2px;padding-top: 0px;margin-top: 20px;"  */


  /* border-top-style: solid;border-top-width: 2px;padding-top: 0px;margin-top: 30px;  */
.left-navbar {
    position: fixed;
    display: inline-block; 
    height: 100vw;
    width: 220px;
    background-color: #333333;
    margin-left: 30px;
}

.left-navigation {
    color: white;
    list-style-type: none;
    margin-bottom: 10px;
}


.left-navigation li {
    color: white;
    margin-bottom: 20px; 
    margin-top: 20px;
}

.left-navigation li a {
    margin-top: 20px;
    text-decoration: none; 
    color: gray;
}

.left-navigation li a:hover {
    color: white;
}

.left-navbar p {
    position: fixed;
    bottom: 20;
    
    text-align: center;
}

.main {
    margin-left: 250px;
    padding-left: 20px;
}

.main h1 {
    text-align: left;
    font-size: medium;
    margin-bottom: -2px;
}

.main-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.main-logo img {
    width: 90px;
    height: auto;
}

.main-logo h2 {
    display: inline;
    font-size: 40px;
    margin-left: 15px;
}

blockquote {
    border-left: 10px solid darkgrey;
    font-style: italic;
    padding: 0.5em 10px;
    background: lightgrey;
    box-shadow: 0 15px 10px #777;
}

blockquote::before {
    content: open-quote;
    font-size: 30px;
    font-style: italic;
}

blockquote::after {
    content: close-quote;
    font-size: 30px;
    font-style: italic;
}